---
import Image from "astro/components/Image.astro";

const NEWS_API_URL = `https://newsapi.org/v2/everything?q=Chile&sortBy=publishedAt&pageSize=20&language=es&apiKey=${import.meta.env.NEWS_API_KEY}`;

const fetchNews = async () => {
  const response = await fetch(NEWS_API_URL);
  const data = await response.json();
  return data.articles;
};

const articles = await fetchNews();
---

<section class="w-screen mx-0 p-4 bg-red-400">
  <div class="flex items-center justify-center">
    <h1 class="text-3xl mt-2 font-bold mb-4 text-white">Noticias</h1><svg
      width="32"
      height="32"
      viewBox="0 0 24 24"
      fill="none"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="ml-2"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11"
      ></path><path d="M8 8l4 0"></path><path d="M8 12l4 0"></path><path
        d="M8 16l4 0"></path></svg
    >
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-3">
    {
      articles
        .filter((article) => article.title !== "[Removed]")
        .map((article) => (
          <div class="bg-white rounded-lg shadow-md p-3 flex items-center">
            {article.urlToImage && (
              <Image
                src={article.urlToImage}
                alt={article.title}
                width={170}
                height={80}
                class="rounded-lg"
              />
            )}
            <div class="ml-4 w-2/3">
              <h2 class="text-md font-semibold mb-1">{article.title}</h2>
              <p class="text-xs mb-2">{article.description}</p>
              <a
                href={article.url}
                target="_blank"
                class="text-blue-500 hover:underline text-sm"
              >
                Leer más
              </a>
            </div>
          </div>
        ))
    }
  </div>
</section>
