---
import Image from "astro/components/Image.astro";

const programas = [
  {
    title: "Manita Deportes",
    autor: "Mauricio Pérez y Patricio Ramírez",
    time: "Lunes a Viernes de 20:00 a 21:00 hrs.",
    description:
      "Sigue todas las noticias deportivas de la región y el mundo en Manita Deportes.",
    image: "/Logo-Manita.png",
  },
  {
    title: "El Vitrola",
    autor: "El Vitrola de Chile",
    time: "Lunes a Viernes de 21:00 a 00:00 hrs.",
    description:
      "El mejor programa de música tropical-ranchera de la sexta región. Con décadas de trayectoria.",
    image: "/logo-vitro.png",
  },
  {
    title: "Noticias Radios Regionales",
    autor: "Radios Regionales",
    time: "Lunes a Viernes a las 08:00, 15:15 y 21:30 hrs.",
    description:
      "Las noticias más importantes de la región y el país en Radios Regionales.",
    image: "/radiosregionales.jpg",
  },
  {
    title: "Dos en el Café",
    autor: "Patricio Rojas Caro",
    time: "Lunes a Viernes de 19:00 a 20:00 hrs.",
    description:
      "Dos en el Café, un programa de conversación para acompañar la hora del café.",
    image: "/logo2cafe.png",
  },
  {
    title: "El Vacilón Tropical",
    autor: "Peter Duarte",
    time: "Lunes a Viernes de 13:00 a 15:00 hrs.(Miércoles de 13:00 a 14:00 hrs.)",
    description:
      "El mejor programa de música tropical para acompañar tus tardes con la conducción del entretenido, historíco y gran Peter Duarte.",
    image: "/Vacilon-logo.png",
  },

  {
    title: "Conversando con Minera Valle Central",
    autor: "Mariely Mardones",
    time: "Miércoles de 14:00 a 15:00 hrs.",
    description:
      "Conversando con Minera Valle Central, un programa de conversación enfocado en Minera Valle Central, interesantes invitados y mucho más.",
    image: "/minera_valle_central_chile_logo.jpeg",
  },
  {
    title: "Programación de la Ilustre Municipalidad de Requínoa",
    autor: "Ilustre Municipalidad de Requínoa",
    time: "Lunes a Viernes de 10:00 a 13:00 hrs. y de 16:00 a 18:00 hrs. (Viernes solo de 10:00 a 13:00 hrs.)",
    description:
      "Programación de la Ilustre Municipalidad de Requínoa, con la mejor música, noticias y entretención.",
    image: "/muni-requinoa.jpeg",
  },
  {
    title: "Entre Nos",
    autor: "Patricio Rojas Caro",
    time: "Sábados de 10:00 a 12:00 hrs.",
    description:
      "Entre Nos, un programa de conversación para acompañar tus mañanas de sábado.",
    image: "/entre-nos-logo.png",
  },
  {
    title: "La Tarde de la Gente",
    autor: "Marthin Felipe Saldaña Acevedo",
    time: "Viernes de 18:00 a 19:00",
    description:
      "Un programa de conversación, actualidad, invitados interesantes y mucho más para acompañar tus tardes de viernes.",
    image: "/latardedelag.png",
  },
];
---

<div class="bg-gradient-to-br from-pink-500 via-yellow-500 to-blue-500">
  <h1 class="text-4xl text-center font-bold text-white pt-4">
    Nuestros Programas
  </h1>

  <div
    class="bg-gradient-to-br from-pink-500 via-yellow-500 to-blue-500 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-6"
  >
    {
      programas.map((programa) => (
        <div class="bg-white p-6 rounded-lg shadow-lg flex flex-col justify-center items-center hover:scale-105 transition-transform duration-300">
          <Image
            src={programa.image}
            alt={programa.title}
            width={250}
            height={100}
            class="rounded-lg drop-shadow-md"
            loading="eager"
          />
          <div class="w-full text-center mt-4">
            <h2 class="text-xl font-bold text-gray-800 mb-2">
              {programa.title}
            </h2>
            <p class="text-sm text-gray-600 mb-1">
              <span class="font-bold">Conduce: </span>
              {programa.autor}
            </p>
            <p class="text-xs text-gray-500 italic mb-2">{programa.time}</p>
            <p class="text-sm text-gray-700">{programa.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
